$md-screen: 970px;
$lg-screen: 1280px;
$xl-screen: 1920px;

// Media Queries Mixins
@mixin media-st-md {
    @media (max-width: #{$md-screen - 1px}) {
        @content;
    }
}

@mixin media-md {
    @media (min-width: #{$md-screen}) {
        @content;
    }
}
@mixin media-st-lg {
    @media (max-width: #{$lg-screen - 1px}) {
        @content;
    }
}

@mixin media-lg {
    @media (min-width: #{$lg-screen}) {
        @content;
    }
}

@mixin media-st-xl {
    @media (max-width: #{$xl-screen - 1px}) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: #{$xl-screen }) {
        @content;
    }
}