@import '../../common/styles/colors.scss';
$result-margin: 16px;
search-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  border-radius: 4px;

  .results-container {
    padding: 16px;
    background-color: #FFF;
    result-item {
      cursor: pointer;
    }
    
  }
}