@import './../../styles/colors.scss';
@import './../../styles/variables.scss';
categories-path {
  margin: $margin-size-sm 0;
  font-size: 14px;
  >a {
    color: $description-font-color;
    text-decoration: none;
  }
}