@import '../../../common/styles/colors.scss';
@import '../../../common/styles/media.scss';
@import '../../../common/styles/variables.scss';
$img-size: 180px;
result-item {
  display: flex;
  padding: $margin-size-sm;
  &:last-child {
    margin-bottom: 0;
  }
  >img {
    width: $img-size;
    height: $img-size;
    border-radius: $border-radius;
  }
  .description {
    flex-grow: 1;
    margin: $margin-size-sm 0 0 $margin-size-sm;
    font-size: 18px;
    .description__price {
      margin-bottom: $margin-size-md;
      font-size: 24px;
      >span {
        white-space: nowrap;
      }
      >span:last-child {
        vertical-align: super;
        font-size: 12px;
      }
    }
    .description__shipping-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 10px;
      background: url('/assets/ic_shipping.png') center no-repeat;
      background-size: contain;
      @include media-xl() {
        background-image: url('/assets/ic_shipping@2x.png');
      }
    }
  }
  .location {
    width: 100px;
    margin: 0 10px;
    padding-top: $margin-size-sm;
    font-size: 12px;
    color: $description-font-color;
  }
}